# Dependencies
node_modules

# Build output
dist
dist-ssr
*.local

# Cloudflare
.wrangler
.dev.vars

# Env
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Coverage
coverage

# Mastra
.mastra
apps/mastra/src/mastra/public/
*.db
*.db-*
*.duckdb
*.duckdb.wal

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
